.git
.gitignore
.venv
__pycache__
*.pyc
docker-compose.yml
README.md
assets
infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/terraform.tfstate
infra/**/terraform.tfstate.backup
infra/**/terraform.tfstate.*.backup
infra/**/.terraform.tfstate.lock.info
infra/**/crash.log
infra/**/override.tf
infra/**/override.tf.json
terraform.tfvars
*.secret.tfvars
argocd.exe